/bad-pcb
/target
/.embuild
.cargo-home
.rustup
.toolchain-bin
export-esp.sh
.direnv
espflash.toml
partitions.csv
sdkconfig.defaults.partitions
*.bin
out.txt
node_modules
/frontend/dist
/server/dist
/central-control/dist
